.abd {
  background-color: #b0aeb4; /* Green */
  background-image: url('https://media.gemini.media/img/large/2016/10/20/2016_10_20_12_46_26_400.jpg');
background-attachment: fixed;  border: none;
  color: rgb(14, 2, 2);
  padding: 5px 5px;
  text-align: center;
  
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 200px;
  margin-left: 200px;
}
button {
  font-size: 50px;
  text-align: center;
  background-color: #160901;
  padding: 5px;
  border-radius: 20%;
  margin: 100px;
  background-color: white;
  color: black;
  border: 5px solid #f5f3f2;
  background-color: #5a5aee;
  color: rgb(245, 235, 235);
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  justify-content:space-between;
}

p {
  font-size: 50px;
  background-color: rgb(220, 235, 16);
  background-size:initial;
}

img {
  width: 400px;
  height: 400px;
  border: 15px solid #fd3e5e;
  position: relative;
  width: 100%;
  max-width: 400px;
  
}
h1 {
  background-color:hsl(64, 97%, 49%);
  font: size 700px;;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}